.footer__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #FFF;
    transition: opacity linear 0.3s;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
    }
}