.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin: 56px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 428px) {
    .lead__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }
}