.cover {
    margin: 92px auto 0 auto;
    max-width: 1184px;
    height: 740px;
    background-image: url('../../images/cover-trains.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        height: 640px;
    }  
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px auto 0 auto;
        max-width: 768px;
        height: 480px;
    }  
}

@media screen and (max-width: 428px) {
    .cover {
        margin: 66px auto 0 auto;
        max-width: 390px;
        height: 200px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 66px auto 0 auto;
        max-width: 320px;
        height: 200px;
    }
}