.place__paragraphes {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 351px) {
  .place__paragraphes {
    padding: 0 16px;
  }
}
