.place__paragraphes {
    max-width: 484px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 428px) {
    .place__paragraph {
        max-width: 288px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin-left: 16px;
    }
}