.place__paragraphes {
  max-width: 484px;
}


@media screen and (max-width: 768px) {
  .place__paragraphes {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 351px) {
  .place__paragraphes {
    padding: 0 16px;
  }
}
